<%- layout('layouts/boilerplate') %>
    <section>
        <!-- <div>
            <h1>Cart Empty</h1>
            <p>You probably haven't ordered a pizza yet. To order a pizza, go to the main page.</p>
            <img src="img/empty-cart.png" alt="">
            <br>
            <a href="/">Go back</a>
        </div> -->

        <div class="container">
            <div class="d-flex justify-content-center">
                <img src="img/cart-black.png" alt="" class="me-3 mb-5" style="width: 3rem;">
                <h1>Order summary</h1>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card mb-4 px-4 py-2" style="width: 18rem;">
                        <img src="img/pizza.png" class="card-img-top" alt="...">
                        <div class="card-body d-flex justify-content-center">
                            <p class="card-title text-uppercase fs-5">
                                MARIANA
                            </p>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <p class="text-uppercase fs-5">
                                MEDIUM
                            </p>
                            <p class="fs-5">
                                ₹ 250
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <span>Total Amount:</span>
                        <span>Rs 300</span>
                    </div>
                    <div>
                        <form action="">
                            <div class="mb-3">
                                <input type="number" name="" id="number" placeholder="Phone number"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <textarea type="text" name="" id="" placeholder="Address"
                                    class="form-control"></textarea>
                            </div>
                            <div class="mb-5">
                                <button class="btn btn-success">Order Now</button>
                                <!-- <a href="">Login to continue</a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>